<h1>Welcome to Word Puzzle</h1>

<form class=form-group action="/word_puzzle">
  <label class=form-control for=words_to_puzzle>Enter the word(s) you would like to turn into a puzzle:</label>
  <input  class= "form-control" type="text" name="words_to_puzzle">
  <button type="submit" class="btn btn-success">Create Puzzle</button>
</form>
  
