<!DOCTYPE html>
<html>
  <head>
    <title>Riddle Me This!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/riddler_style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Riddler, Meet Puzzle</a>
        </div>
        <div class="navbar navbar-nav">
          <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

      